<div class="app-component app-container">
  <ngx-toasta></ngx-toasta>

  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-xl px-md-3 px-xxl-4">
      <a ngPreserveWhitespaces class="navbar-brand" routerLink="/" (click)="isMenuCollapsed = true">
        <img src="images/logo-white.png" class="d-inline-block align-top" alt="logo">
        <span class="d-lg-none d-xl-inline">{{appTitle}}</span>
      </a>
      <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      @if (isUserLoggedIn) {
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="nav nav-pills flex-column flex-lg-row flex-fill">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="" (click)="isMenuCollapsed = true">
              <i class="fa fa-home"></i>
            </a>
          </li>
          @if (canViewCustomers) {
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/customers" (click)="isMenuCollapsed = true">
              {{'mainMenu.Customers' | translate}}
            </a>
          </li>
          }
          @if (canViewProducts) {
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/products" (click)="isMenuCollapsed = true">
              {{'mainMenu.Products' | translate}}
            </a>
          </li>
          }
          @if (canViewOrders) {
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/orders" (click)="isMenuCollapsed = true">
              {{'mainMenu.Orders' | translate}}
            </a>
          </li>
          }
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">
              {{'mainMenu.About' | translate}}
            </a>
          </li>
          <li class="nav-item ms-lg-auto me-lg-2" routerLinkActive="active">
            <a class="nav-link" routerLink="/settings" (click)="isMenuCollapsed = true">
              <i class="fa fa-cog"></i>
            </a>
          </li>
        </ul>
        <span class="navbar-text notifications-popup d-lg-none d-xl-inline-block">{{'app.Welcome' | translate}}</span>
        <a class="nav-link user-name d-inline-block px-1" [ngbPopover]="popTemplate"
           (hidden)="markNotificationsAsRead()" placement="bottom" [popoverTitle]="notificationsTitle"
           href="javascript:;" triggers="focus" popoverClass="notifications-popup">
          {{userName}}
          @if (newNotificationCount > 0) {
          <span class="badge bg-secondary">{{newNotificationCount}}</span>
          }
        </a>
        <ng-template #popTemplate>
          <app-notifications-viewer [isViewOnly]="true"></app-notifications-viewer>
        </ng-template>
        @if (newNotificationCount > 0) {
        <span class="navbar-text d-none d-lg-inline">, </span>
        }
        <ul class="nav nav-pills flex-column flex-lg-row ms-lg-1">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" (click)="logout(); isMenuCollapsed = true">
              <i class="fa fa-sign-out"></i> {{'mainMenu.Logout' | translate}}
            </a>
          </li>
        </ul>
      </div>
      }
      @else {
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="nav nav-pills flex-column flex-lg-row ms-auto">
          <li class="nav-item" routerLinkActive="active">
            @if (router.isActive('/about', false)) {
            <a class="nav-link" routerLink="/login" (click)="isMenuCollapsed = true">
              <i class="fa fa-sign-in"></i>
            </a>
            } @else {
            <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">
              <i class="fa fa-info-circle"></i>
            </a>
            }
          </li>
        </ul>
      </div>
      }
    </div>
  </nav>

  @if (!isAppLoaded) {
  <div id="pre-bootstrap" class="prebootStep prebootShow">
    <div class="messaging">
      <h1>
        Loaded!
      </h1>
      <p>
        QUICK APPLICATION SYSTEM - <span style="font-style:italic">quick</span>App &copy;
        <a class="text-link" href="https://www.ebenmonney.com">WWW.EBENMONNEY.COM</a>
      </p>
    </div>
  </div>
  }

  <main class="container-xl px-3 px-md-4 px-xxl-5">
    @if (isUserLoggedIn) {
      <div [@fadeInOut]>
        <div class="d-sm-flex flex-row mb-2">
          <ul ngbNav #tab="ngbNav" class="nav nav-tabs nav-tabs--vertical nav-tabs--left"
              [activeId]="activeTab" [orientation]="'vertical'" [animation]="false"
              (activeIdChange)="showContent = false" (shown)="showContent = true">
            <li [ngbNavItem]="dashboardTab">
              <a ngbNavLink routerLink="." [fragment]="dashboardTab">
                <i class="fa fa-home fa-fw" aria-hidden="true"></i> {{'pageHeader.Dashboard' | translate}}
              </a>
              <ng-template ngbNavContent>
                <h4>{{'pageHeader.Dashboard' | translate}}</h4>
                <hr class="hr-separator" />
                @if (showContent) {
                  <div [@fadeInOut] class="content-container ps-lg-2">
                    <router-outlet></router-outlet>
                  </div>
                }
              </ng-template>
            </li>
            @for (role of userRoles; track role) {
              <li [ngbNavItem]="role">
                <a ngbNavLink routerLink="." [fragment]="role">
                  <i class="fa fa-user-md fa-fw" aria-hidden="true"></i> {{ role }}
                </a>
                <ng-template ngbNavContent>
                  <h4>{{ role }}</h4>
                  <hr class="hr-separator" />
                  @if (showContent) {
                    <div [@fadeInOut] class="content-container ps-lg-2">
                      <router-outlet></router-outlet>
                    </div>
                  }
                </ng-template>
              </li>
            }
            @if (isAdministrator) {
              <li [ngbNavItem]="administratorTab">
                <a ngbNavLink routerLink="." [fragment]="administratorTab">
                  <i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'home.Administrator' | translate}}
                </a>
                <ng-template ngbNavContent>
                  <h4>{{'home.Administrator' | translate}}</h4>
                  <hr class="hr-separator" />
                  @if (showContent) {
                    <div [@fadeInOut] class="content-container ps-lg-2">
                      <div class="d-sm-flex flex-row">
                        <ul ngbNav #adminNav="ngbNav" class="nav nav-tabs nav-tabs--vertical nav-tabs--left"
                            [activeId]="activeAdminTab" [orientation]="'vertical'" [animation]="false">
                          <li [ngbNavItem]="usersTab">
                            <a ngbNavLink>
                              <i class="fa fa-users fa-fw" aria-hidden="true"></i> {{'settings.tab.Users' | translate}}
                            </a>
                            <ng-template ngbNavContent>
                              <h5>{{'settings.header.UsersManagements' | translate}}</h5>
                              <hr class="hr-separator" />
                              <app-users-management></app-users-management>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="rolesTab">
                            <a ngbNavLink>
                              <i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Roles' | translate}}
                            </a>
                            <ng-template ngbNavContent>
                              <h5>{{'settings.header.RolesManagement' | translate}}</h5>
                              <hr class="hr-separator" />
                              <app-roles-management></app-roles-management>
                            </ng-template>
                          </li>
                        </ul>
                        <div [ngbNavOutlet]="adminNav" class="w-100"></div>
                      </div>
                    </div>
                  }
                </ng-template>
              </li>
            }
            <li [ngbNavItem]="settingsTab">
              <a ngbNavLink routerLink="." [fragment]="settingsTab">
                <i class="fa fa-cog fa-fw" aria-hidden="true"></i> {{'pageHeader.Settings' | translate}}
              </a>
              <ng-template ngbNavContent>
                <h4>{{'pageHeader.Settings' | translate}}</h4>
                <hr class="hr-separator" />
                @if (showContent) {
                  <div [@fadeInOut] class="content-container ps-lg-2">
                    <div class="d-sm-flex flex-row">
                      <ul ngbNav #settingsNav="ngbNav" class="nav nav-tabs nav-tabs--vertical nav-tabs--left"
                          [activeId]="activeSettingsTab" [orientation]="'vertical'" [animation]="false">
                        <li [ngbNavItem]="profileTab">
                          <a ngbNavLink>
                            <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {{'settings.tab.Profile' | translate}}
                          </a>
                          <ng-template ngbNavContent>
                            <h5>{{'settings.header.UserProfile' | translate}}</h5>
                            <hr class="hr-separator" />
                            <app-user-info></app-user-info>
                          </ng-template>
                        </li>
                      </ul>
                      <div [ngbNavOutlet]="settingsNav" class="w-100"></div>
                    </div>
                  </div>
                }
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="tab" class="w-100"></div>
        </div>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }
    <div class="footer-height"></div>
  </main>

  <footer class="footer fixed-bottom">
    <div class="container">
      <p class="text-center text-muted">
        <span style="font-style:italic">quick</span>App &copy; {{getYear()}}
        <a class="text-link" href="https://www.ebenmonney.com" target="_blank">www.ebenmonney.com</a>
        <!--<span class="small display-none">- Powered by <a href="https://www.ebenmonney.com/quickapp"
        target="_blank"><span style="font-style:italic">quick</span>App</a></span>-->
      </p>
    </div>
  </footer>
</div>
