<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="isMobileViewport ? 'over' : 'side'"
    [opened]="isMobileViewport ? isSidenavOpened : true"
    [fixedInViewport]="isMobileViewport"
    [class.collapsed]="isSidebarCollapsed && !isMobileViewport">
    <div class="sidebar-header">
      <img [src]="appConfig.clientLogo" [alt]="appConfig.clientName" class="logo" (error)="onLogoError($any($event.target))">
      <div class="user-info">
        <span class="user-name">{{ fullName }}</span>
        <span class="user-status">Online</span>
      </div>
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let item of menuEntries">
        <mat-expansion-panel *ngIf="item.item.subItems && item.item.subItems.length > 0" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title class="menu-title">
              <mat-icon class="menu-icon">{{ item.item.icon }}</mat-icon>
              <span *ngIf="!isSidebarCollapsed">{{ item.title }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="sub-nav-list" *ngIf="!isSidebarCollapsed">
            <a mat-list-item *ngFor="let sub of item.item.subItems"
               [routerLink]="sub.path ? [item.item.route, sub.path] : [item.item.route]"
               [fragment]="sub.fragment || undefined"
               routerLinkActive="active-sub-item"
               (click)="closeSidenavOnMobile()"
               title="{{ sub.label }}">
              <mat-icon class="subitem-icon">{{ sub.icon || 'chevron_right' }}</mat-icon>
              <span class="subitem-label">{{ sub.label }}</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <ng-container *ngIf="!item.item.subItems || item.item.subItems.length === 0">
          <a mat-list-item [routerLink]="[item.item.route]"
             routerLinkActive="active-root-item"
             (click)="closeSidenavOnMobile()"
             title="{{ item.title }}">
            <mat-icon matListItemIcon class="menu-icon">{{ item.item.icon }}</mat-icon>
            <span matListItemTitle class="menu-title" *ngIf="!isSidebarCollapsed">{{ item.title }}</span>
          </a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar">
      <button mat-icon-button type="button" (click)="toggleSidebar()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="brand-title">{{ appConfig.clientName }}</span>

      <span class="spacer"></span>

      <div class="toolbar-actions">
        <button mat-icon-button type="button" class="action-icon-btn" aria-label="Notifications">
          <mat-icon>notifications_none</mat-icon>
        </button>

        <button mat-button type="button" (click)="logout()" class="logout-btn">
          Log out
        </button>
      </div>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
