<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="isMobileViewport ? 'over' : 'side'"
    [opened]="isMobileViewport ? isSidenavOpened : true"
    [fixedInViewport]="isMobileViewport"
    [class.collapsed]="isSidebarCollapsed && !isMobileViewport">
    <div class="sidebar-header">
      <img [src]="appConfig.clientLogo" [alt]="appConfig.clientName" class="logo" (error)="onLogoError($any($event.target))">
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let section of menuSections; let isLastSection = last">
        <div class="sidebar-section">
          <ng-container *ngFor="let item of section.entries">
            <mat-expansion-panel *ngIf="item.item.subItems && item.item.subItems.length > 0" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title class="menu-title">
                  <mat-icon class="menu-icon" [style.color]="getMenuIconColor(item.title, item.item.route)">{{ item.item.icon }}</mat-icon>
                  <span *ngIf="!isSidebarCollapsed">{{ item.title }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-container *ngIf="item.subGroups && item.subGroups.length > 0; else flatSubList">
                <div class="sub-nav-groups" *ngIf="!isSidebarCollapsed">
                  <div class="sub-nav-group" *ngFor="let group of item.subGroups">
                    <button type="button"
                            class="sub-nav-group-header sub-nav-group-toggle"
                            [class.expanded]="isReportGroupExpanded(group.name)"
                            (click)="toggleReportGroup(group.name)">
                      <div class="sub-nav-group-header-main">
                        <mat-icon class="sub-nav-group-icon" [style.color]="getGroupIconColor(group.name)">{{ group.icon }}</mat-icon>
                        <span class="sub-nav-group-label" [style.color]="getGroupIconColor(group.name)">{{ group.name }}</span>
                      </div>
                      <mat-icon class="sub-nav-group-chevron">expand_more</mat-icon>
                    </button>
                    <mat-nav-list class="sub-nav-list sub-nav-list-grouped"
                                  *ngIf="isReportGroupExpanded(group.name)">
                      <a mat-list-item *ngFor="let sub of group.items"
                         [routerLink]="sub.path ? [item.item.route, sub.path] : [item.item.route]"
                         [fragment]="sub.fragment || undefined"
                         routerLinkActive="active-sub-item"
                         (click)="closeSidenavOnMobile()"
                         title="{{ sub.label }}">
                        <mat-icon class="subitem-icon" [style.color]="getSubItemIconColor(group.name, item.item.route)">{{ sub.icon || 'chevron_right' }}</mat-icon>
                        <span class="subitem-label">{{ sub.label }}</span>
                      </a>
                    </mat-nav-list>
                  </div>
                </div>
              </ng-container>
              <ng-template #flatSubList>
                <mat-nav-list class="sub-nav-list" *ngIf="!isSidebarCollapsed">
                  <a mat-list-item *ngFor="let sub of item.item.subItems"
                     [routerLink]="sub.path ? [item.item.route, sub.path] : [item.item.route]"
                     [fragment]="sub.fragment || undefined"
                     routerLinkActive="active-sub-item"
                     (click)="closeSidenavOnMobile()"
                     title="{{ sub.label }}">
                    <mat-icon class="subitem-icon" [style.color]="getSubItemIconColor(item.title, item.item.route)">{{ sub.icon || 'chevron_right' }}</mat-icon>
                    <span class="subitem-label">{{ sub.label }}</span>
                  </a>
                </mat-nav-list>
              </ng-template>
            </mat-expansion-panel>

            <ng-container *ngIf="!item.item.subItems || item.item.subItems.length === 0">
              <a mat-list-item [routerLink]="[item.item.route]"
                 routerLinkActive="active-root-item"
                 (click)="closeSidenavOnMobile()"
                 title="{{ item.title }}">
                <mat-icon matListItemIcon class="menu-icon" [style.color]="getMenuIconColor(item.title, item.item.route)">{{ item.item.icon }}</mat-icon>
                <span matListItemTitle class="menu-title" *ngIf="!isSidebarCollapsed">{{ item.title }}</span>
              </a>
            </ng-container>
          </ng-container>
        </div>

        <div class="sidebar-section-divider" *ngIf="!isLastSection && !isSidebarCollapsed"></div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar">
      <button mat-icon-button type="button" (click)="toggleSidebar()" aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="brand-title">{{ appConfig.clientName }}</span>

      <span class="spacer"></span>

      <div class="toolbar-actions">
        <button mat-icon-button type="button" class="action-icon-btn" aria-label="Notifications">
          <mat-icon>notifications_none</mat-icon>
        </button>

        <button
          mat-icon-button
          type="button"
          class="avatar-trigger"
          [matMenuTriggerFor]="userMenu"
          aria-label="Open user menu">
          <img *ngIf="toolbarUserPhoto" [src]="toolbarUserPhoto" alt="User avatar" class="toolbar-avatar-img" />
          <span *ngIf="!toolbarUserPhoto" class="toolbar-avatar-fallback">{{ userInitials }}</span>
        </button>
      </div>

      <mat-menu #userMenu="matMenu" xPosition="before" class="user-menu-panel">
        <div class="user-menu-summary" (click)="$event.stopPropagation()">
          <img *ngIf="toolbarUserPhoto" [src]="toolbarUserPhoto" alt="User avatar" class="menu-avatar-img" />
          <span *ngIf="!toolbarUserPhoto" class="menu-avatar-fallback">{{ userInitials }}</span>

          <div class="menu-user-meta">
            <span class="menu-user-name">{{ toolbarDisplayName }}</span>
            <span class="menu-user-email" *ngIf="toolbarUserEmail">{{ toolbarUserEmail }}</span>
          </div>
        </div>

        <button mat-menu-item [routerLink]="['/settings']">
          <mat-icon>manage_accounts</mat-icon>
          <span>{{ 'settings.menu.UserSettings' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="['/settings']" fragment="profile">
          <mat-icon>person</mat-icon>
          <span>{{ 'settings.menu.MyProfile' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="['/change-password']">
          <mat-icon>lock</mat-icon>
          <span>{{ 'users.editor.ChangePassword' | translate }}</span>
        </button>

        <button mat-menu-item [routerLink]="['/settings']" fragment="preferences">
          <mat-icon>tune</mat-icon>
          <span>{{ 'settings.menu.UserPreferences' | translate }}</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ 'settings.menu.LogOut' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
