// Journal 5.3.3
// Bootswatch


// Variables

/*
    This is a temporary fix for the issue with importing the font path in the theme.
    Once it is fixed delete this file and import from node_modules "bootswatch/dist/<theme>" file instead.
*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" !default;

@if $web-font-path {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
}

// Navbar

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: $headings-font-weight;
}

.navbar-brand {
  padding-top: .5rem;
  font-size: inherit;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

// Buttons

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: $headings-font-weight;

  &-secondary,
  &-warning {
    color: $white;
  }
}

// Navs

.pagination {
  a:hover {
    text-decoration: none;
  }
}
